@use '../../styles/placeholders';

.btn {
  @extend %styledText;

  background-color: var(--red);
  border: none;
  color: #fff;
  padding: 1em 0.5em;

  &--yellow {
    background-color: var(--yellow);
    color: var(--black);
    border: solid var(--border-small) currentColor;
  }

  &[disabled] {
    opacity: 0.5;
  }
}