.finishline {
  &__order {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: solid var(--border-small) var(--black);
    border-bottom: solid var(--border-small) var(--black);
  }
}