@use '../../styles/placeholders';

.auctions-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0 calc(var(--fz) * 2);
}

.auction-item {
  $block: &;

  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  opacity: 0.5;
  margin: 0.5em 0;

  &__cb {
    margin-right: var(--fz);
  }

  &__label {
    display: flex;
    align-items: center;
    flex: 0 0 40%;
  }

  &__name {
    @extend %styledText;

    flex-grow: 1;
    text-align: center;
    padding: calc(var(--fz) * 0.5);
  }

  &__price {
    position: relative;
    flex: 0 0 calc(60% - var(--fz));
    margin-left: var(--fz);
    background: linear-gradient(
      to right,
      transparent 2%,
      rgba(0, 0, 0, 0.2) 3%,
      transparent 4%,
      transparent 21%,
      rgba(0, 0, 0, 0.2) 22%,
      transparent 23%,
      transparent 40%,
      rgba(0, 0, 0, 0.2) 41%,
      transparent 42%,
      transparent 59%,
      rgba(0, 0, 0, 0.2) 60%,
      transparent 61%,
      transparent 78%,
      rgba(0, 0, 0, 0.2) 79%,
      transparent 80%,
      transparent 96%,
      rgba(0, 0, 0, 0.2) 97%,
      transparent 98%
    );
  }

  &__range {
    display: block;
    width: 100%;
    height: 1.75em;
  }

  &__output {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.75em;
    height: 1.75em;
    background-color: var(--black);
    color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  &--checked {
    opacity: 1;
  }
}