%styledText {
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

%badge {
  background-color: var(--black);
  color: #fff;
  font-weight: bold;
  font-style: normal;
  padding: 0.25em 0.5em;
  margin-left: 0.5em;
}