.main-header {
  flex: 0 0 auto;
  position: relative;

  &__logo {
    position: relative;
    width: 100%;
    padding: 0 calc(var(--fz) * 2);

    img {
      display: block;
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--blue-light);
    color: #fff;
    height: 30px;
    padding: 0 calc(var(--fz) * 2);
    margin-top: var(--fz);
  }

  &__back-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    border: none;
    color: currentColor;
    font-weight: bold;
    line-height: 0.5;
    width: 40px;
    height: 100%;
    padding: 0;
  }

  &__title {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1em;
    line-height: 0.8;
    margin: 0;

    &:only-child {
      margin: 0 auto;
    }
  }

  &__spacer {
    width: 40px;
  }
}