.car-order {
  position: relative;
  width: 100%;
  margin: 0;
  border-top: solid var(--border-small) var(--black);
  border-bottom: solid var(--border-small) var(--black);

  &__label {
    display: flex;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 0.5em calc(var(--fz) * 2);
  }

  &__pos {
    flex: 0 0 15%;
  }

  &__select {
    flex: 0 0 85%;
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    border: 0;
    padding-right: 10%;
  }
}