@use '../../styles/placeholders';

.bets-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: solid var(--border-small) var(--black);
  border-bottom: solid var(--border-small) var(--black);
}

.bet-item {
  $block: &;

  border-top: solid var(--border-small) var(--black);
  border-bottom: solid var(--border-small) var(--black);
  opacity: 0.5;

  &__radio {
    margin: 0 var(--fz) 0 calc(var(--fz) * 2);
  }

  &__label {
    position: relative;
    display: flex;
  }

  &__name {
    @extend %styledText;

    flex-grow: 1;
    text-align: center;
    padding: calc(var(--fz) * 0.5);
    border-left: solid 2px var(--black);
  }

  &--checked {
    opacity: 1;
  }
}