@use '../../styles/placeholders';

.total {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc(var(--fz) * 2);

  &__label {
    @extend %styledText;

    margin: 0;
  }

  &__price {
    @extend %badge;
  }
}