:root {
  --fz: 3.6vw;
  --border-small: 2px;
  --border: 4px;

  /* Colors */
  --black: #25201d;
  --blue-light: #39d5f9;
  --blue-medium: #00adee;
  --red: #d32832;
  --yellow: #f8d225;

  /* Theme colors */
  --theme-black: #3e3e3e;
  --theme-blue: #2f9fcf;
  --theme-green: #3ca748;
  --theme-orange: #eb8c2f;
  --theme-red: #dd1f29;
  --theme-yellow: #e6db43;
}

@media (min-width: 500px) {
  :root {
    --fz: 18px;
  }
}

* {
  box-sizing: border-box;
}

.car-theme {
  &-black {
    background-color: var(--theme-black);
    color: white;
  }

  &-blue {
    background-color: var(--theme-blue);
    color: var(--black);
  }

  &-green {
    background-color: var(--theme-green);
    color: var(--black);
  }

  &-orange {
    background-color: var(--theme-orange);
    color: var(--black);
  }

  &-red {
    background-color: var(--theme-red);
    color: var(--black);
  }

  &-yellow {
    background-color: var(--theme-yellow);
    color: var(--black);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--blue-medium);
  font-size: var(--fz);
  overflow: hidden;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: #fff;
  max-width: 420px;
  overflow: hidden;
  box-shadow: 0 0.5em 2em rgba(46, 58, 90, 0.5);
  padding: calc(var(--fz) * 1.5) 0;
}