.slide {
  display: flex;
  flex-direction: column;
  position: relative;

  &__body {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 var(--fz);
  }

  &__instructions {
    font-style: italic;
    text-align: center;
    padding: 0 calc(var(--fz) * 2);
  }

  &__footer {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 calc(var(--fz) * 2);
  }

  &--race {
    .btn--yellow {
      display: block;
      margin: 0 auto;
    }
  }
}