.total-auction-prices,
.total-racing-payouts,
.total-betting-payouts {
  position: relative;
  width: 100%;
  border-top: solid var(--border) var(--black);
  border-bottom: solid var(--border) var(--black);

  &__title {
    padding: 0.25em calc(var(--fz) * 2);
    margin: 0;
  }

  &__summary {
    position: relative;
    display: flex;
    width: 100%;
    border-top: solid var(--border-small) var(--black);
    border-bottom: solid var(--border-small) var(--black);
  }

  &__item {
    flex: 1 1 0;
    font-size: 0.75em;
    text-align: center;
    opacity: 0.33;
    padding: 0.5em 0;
    border-left: solid var(--border-small) var(--black);

    &:first-child {
      border-left: 0;
    }

    &__price {
      display: block;
      width: 100%;
      text-align: center;
    }

    &--checked {
      opacity: 1;
    }
  }

  &__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.75em;
    font-style: italic;
    text-transform: uppercase;
    padding: 0.25em calc(var(--fz) * 2);
  }
}